.App {
  text-align: center;
}

body{
  background-color: #282c34;
}

.App-logo {
  height: 70px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Todo-table{
  position: relative;
  width: 95%;
  background: #61dafb;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.Todo-table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

input[type="text"]{
  width: 70%;
  padding: 20px;
  background:#18687e;
  border: 0;
  float: left;
  font-size: 20px;
  color: #FFF;
}

button{
  padding: 20px;
  width: 26%;
  float: left;
  background: #114553;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  width: 99%;
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

li:hover{
  text-decoration: line-through;
  background: rgba(0,0,0,0.2);
}
